.DS_Store
4.Projets/data/articles.csv
4.Projets/data/customers.csv
4.Projets/data/transactions_train.csv
4.Projets/data/zip/articles.csv.zip
4.Projets/data/zip/customers.csv.zip
4.Projets/data/zip/transactions_train.csv.zip
4.Td/movielens.zip
4.Td/movielens/ml-100k/allbut.pl
4.Td/movielens/ml-100k/mku.sh
4.Td/movielens/ml-100k/README
4.Td/movielens/ml-100k/u.data
4.Td/movielens/ml-100k/u.genre
4.Td/movielens/ml-100k/u.info
4.Td/movielens/ml-100k/u.item
4.Td/movielens/ml-100k/u.occupation
4.Td/movielens/ml-100k/u.user
4.Td/movielens/ml-100k/u1.base
4.Td/movielens/ml-100k/u1.test
4.Td/movielens/ml-100k/u2.base
4.Td/movielens/ml-100k/u2.test
4.Td/movielens/ml-100k/u3.base
4.Td/movielens/ml-100k/u3.test
4.Td/movielens/ml-100k/u4.base
4.Td/movielens/ml-100k/u4.test
4.Td/movielens/ml-100k/u5.base
4.Td/movielens/ml-100k/u5.test
4.Td/movielens/ml-100k/ua.base
4.Td/movielens/ml-100k/ua.test
4.Td/movielens/ml-100k/ub.base
4.Td/movielens/ml-100k/ub.test
*.csv
*.zip
7.Others/HM-Recommender-System-App-main/app.py
7.Others/HM-Recommender-System-App-main/EDA and Data Cleaning.ipynb
7.Others/HM-Recommender-System-App-main/environment.yml
7.Others/HM-Recommender-System-App-main/FinalDataPreparation.ipynb
7.Others/HM-Recommender-System-App-main/H&M-CollaborativeFilteringModeling.ipynb
7.Others/HM-Recommender-System-App-main/H&M-ContentBasedFilteringModeling.ipynb
7.Others/HM-Recommender-System-App-main/Images/articles_desc.png
7.Others/HM-Recommender-System-App-main/Images/CB_example.png
7.Others/HM-Recommender-System-App-main/Images/CF_example.png
7.Others/HM-Recommender-System-App-main/Images/h&mBanner.jpeg
7.Others/HM-Recommender-System-App-main/Images/Model_bar.png
7.Others/HM-Recommender-System-App-main/Model/collaborative_model.sav
7.Others/HM-Recommender-System-App-main/Presentation H&M.pdf
7.Others/HM-Recommender-System-App-main/README.md
7.Others/HM-Recommender-System-App-main/streamlit.yml
6.Projects/docs/~$cSys Project.docx
6.Projects/data/sampled/50K/sampling_metadata.json
6.Projects/data/sampled/10K/sampling_metadata.json
6.Projects/data/sampled/100K/sampling_metadata.json
6.Projects/data/processed/50K/user_item_matrix.npz
6.Projects/data/processed/50K/user_id_mapping.pkl
6.Projects/data/processed/50K/user_features_matrix.npz
6.Projects/data/processed/50K/user_features_mapping.pkl
6.Projects/data/processed/50K/user_feature_columns.json
6.Projects/data/processed/50K/preprocessing_metadata.json
6.Projects/data/processed/50K/lightfm_dataset.pkl
6.Projects/data/processed/50K/item_id_mapping.pkl
6.Projects/data/processed/50K/item_features_matrix.npz
6.Projects/data/processed/50K/item_features_mapping.pkl
6.Projects/data/processed/50K/item_feature_columns.json
6.Projects/data/processed/50K/all_user_features.json
6.Projects/data/processed/50K/all_item_features.json
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/requirements.txt
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/README.md
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/outputs/recommender_model.pkl
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/outputs/models/.gitkeep
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/outputs/figures/.gitkeep
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/outputs/.gitkeep
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/notebooks/Rendu_Projet_Recommender_system.ipynb
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/notebooks/recommender_system_lab.ipynb
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/notebooks/QuickStart_H&M_RS_Pipeline.ipynb
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/notebooks/Complete_H&M_RS_Pipeline.ipynb
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/notebooks/08_Pipeline_Final.ipynb
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/notebooks/07_Modele_Hybride.ipynb
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/notebooks/06_Evaluation_Modele.ipynb
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/notebooks/05_Optimisation_Hyperparametres.ipynb
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/notebooks/04_Modele_Collaboratif.ipynb
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/notebooks/03_Preparation_Donnees.ipynb
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/notebooks/02_Echantillonnage_Donnees.ipynb
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/notebooks/01_Exploration_Donnees.ipynb
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/notebooks/00_setup_and_data_loading.ipynb
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/models/recommender_model_20251019_50000K.pkl
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/models/recommender_model_20251019_10000K.pkl
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/docs/Comment utiliser le notebook.md
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/deployment/streamlit_app.py
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/deployment/requirements.txt
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/deployment/recommender_model.pkl
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/deployment/.gitkeep
7.Others/hm-fashion-recommendation-pipeline-5c44c57e992deef01e87ed5a696f0cca58c86eeb/data/.gitkeep
6.Projects/models/50K/step7_evaluation_results.json
6.Projects/models/50K/step6_optimized_model.pkl
6.Projects/models/50K/step6_optimization_results.json
6.Projects/models/50K/step5_results.json
6.Projects/models/50K/step5_best_model.pkl
6.Projects/data/processed/50K/splits/userbased/train_interactions.npz
6.Projects/data/processed/50K/splits/userbased/test_interactions.npz
6.Projects/data/processed/50K/splits/temporal/train_interactions.npz
6.Projects/data/processed/50K/splits/temporal/test_interactions.npz
6.Projects/data/processed/50K/splits/split_metadata.json
6.Projects/data/processed/50K/splits/random/train_interactions.npz
6.Projects/data/processed/50K/splits/random/test_interactions.npz
6.Projects/analysis_results_with_coldstart.png
6.Projects/data/processed/100K/dataset.pkl
6.Projects/data/processed/100K/item_features_matrix.npz
6.Projects/data/processed/100K/splits/random/test_interactions.npz
6.Projects/data/processed/100K/splits/random/train_interactions.npz
6.Projects/data/processed/100K/splits/split_metadata.json
6.Projects/data/processed/100K/splits/temporal/test_interactions.npz
6.Projects/data/processed/100K/splits/temporal/train_interactions.npz
6.Projects/data/processed/100K/splits/userbased/test_interactions.npz
6.Projects/data/processed/100K/splits/userbased/train_interactions.npz
6.Projects/data/processed/100K/user_features_matrix.npz
6.Projects/data/processed/10K/dataset.pkl
6.Projects/data/processed/10K/item_features_matrix.npz
6.Projects/data/processed/10K/splits/random/test_interactions.npz
6.Projects/data/processed/10K/splits/random/train_interactions.npz
6.Projects/data/processed/10K/splits/split_metadata.json
6.Projects/data/processed/10K/splits/temporal/test_interactions.npz
6.Projects/data/processed/10K/splits/temporal/train_interactions.npz
6.Projects/data/processed/10K/splits/userbased/test_interactions.npz
6.Projects/data/processed/10K/splits/userbased/train_interactions.npz
6.Projects/data/processed/10K/user_features_matrix.npz
6.Projects/data/processed/1K/dataset.pkl
6.Projects/data/processed/1K/item_features_matrix.npz
6.Projects/data/processed/1K/splits/random/test_interactions.npz
6.Projects/data/processed/1K/splits/random/train_interactions.npz
6.Projects/data/processed/1K/splits/split_metadata.json
6.Projects/data/processed/1K/splits/temporal/test_interactions.npz
6.Projects/data/processed/1K/splits/temporal/train_interactions.npz
6.Projects/data/processed/1K/splits/userbased/test_interactions.npz
6.Projects/data/processed/1K/splits/userbased/train_interactions.npz
6.Projects/data/processed/1K/user_features_matrix.npz
6.Projects/data/processed/50K/dataset.pkl
6.Projects/data/sampled/1K/sampling_metadata.json
