.DS_Store
4.Projets/data/articles.csv
4.Projets/data/customers.csv
4.Projets/data/transactions_train.csv
4.Projets/data/zip/articles.csv.zip
4.Projets/data/zip/customers.csv.zip
4.Projets/data/zip/transactions_train.csv.zip
4.Td/movielens.zip
4.Td/movielens/ml-100k/allbut.pl
4.Td/movielens/ml-100k/mku.sh
4.Td/movielens/ml-100k/README
4.Td/movielens/ml-100k/u.data
4.Td/movielens/ml-100k/u.genre
4.Td/movielens/ml-100k/u.info
4.Td/movielens/ml-100k/u.item
4.Td/movielens/ml-100k/u.occupation
4.Td/movielens/ml-100k/u.user
4.Td/movielens/ml-100k/u1.base
4.Td/movielens/ml-100k/u1.test
4.Td/movielens/ml-100k/u2.base
4.Td/movielens/ml-100k/u2.test
4.Td/movielens/ml-100k/u3.base
4.Td/movielens/ml-100k/u3.test
4.Td/movielens/ml-100k/u4.base
4.Td/movielens/ml-100k/u4.test
4.Td/movielens/ml-100k/u5.base
4.Td/movielens/ml-100k/u5.test
4.Td/movielens/ml-100k/ua.base
4.Td/movielens/ml-100k/ua.test
4.Td/movielens/ml-100k/ub.base
4.Td/movielens/ml-100k/ub.test
*.csv
*.zip
